
.body {
    text-align: center;
    justify-content: center;
    align-items: center;
    width:300%
}

.head {
    justify-content: center;
    align-items: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: royalblue;
    margin-top:30px;
    font-size:30px;
}

.all {
    text-align: center;
    justify-content:center;
    align-items: center;
}

form {
    width:50%;  
}

.form_box {
    align-items: center;
    justify-content: center;
    border:1px solid white;
    padding:10px;
}

label {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:30px;
    color: royalblue;
}

#title, #content, #date {
    width:100%;
    text-align: center;
    background-color:cornflowerblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:white;
    font-size:15px;

}

#date {
    width:100%;
    flex-direction:row;
    color: white;
}

button {
    width:15%;
    font-size:20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: cornflowerblue;
    justify-content:center;
    align-items: center;
    margin-top: 10px;
}

* {
    display:flex;
    box-sizing: border-box;
    background-color:aliceblue;
    flex-direction:column;
}
