
    {% extends 'base.html' %}
    {% block css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'edit.css' %}">
    {% endblock %}

    {% block title %}
    <h1>EDIT</h1>
    {% endblock title %}

    {% block content %}
    <div class="all">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form_box">
                <div class="input">
                    <label for="title">TASK</label>
                    <input type="text" id="title" name="title" value="{{ post.title }}">
                </div>
                <div class="input">
                    <label for="content">Content</label>
                    <textarea name="content" id="content" cols="30" rows="10">{{ post.content }}</textarea>
                </div>
                <div class="input">
                    <label for="date">Date</label>
                    <input type="date" id="date" name="date" value="{{ post.date }}">
                </div>
                <button type="submit">EDIT</button>
            </div>
        </form>
    </div>
    {% endblock content %}